{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block styles %} {{super()}}
<link href="{{url_for('static',filename='css/auth.css')}}" rel="stylesheet" />
{% endblock %}
{% block content %}

<div class="container">
    <div>
        <a href="{{url_for('main.index')}}">Home</a>
    </div>
    <div id="logintable">
        <div class="text-center">
        <p><h1>Hello!</h1>Login to your account</p>
        </div>
        {% for message in get_flashed_messages() %}
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{message}}
            </div>
        {% endfor %}
        <div class="bg-secondary">
            {{wtf.quick_form(loginform)}}
            <p> Don't have an Account?
                <a href="{{url_for('auth.signup')}}">Create one here</a></p>
        </div>
    </div>
</div>
{% endblock %}