{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block styles %} {{super()}}
<link href="{{url_for('static',filename='css/auth.css')}}" rel="stylesheet" />
{% endblock %}
{% block content %}
<div class="container bg-dark">
    <div class="row">
        <div class="col-md-3">
            <div>
                <a href="{{url_for('main.index')}}" class="btn btn-primary m-2">Back Home</a>
            </div>
        </div>
        <div id="signuptable" class="col-md-6 text-light">
            <div class="text-center">
            <p><h1>Hello!</h1>Fill this form to create an account.</p>
            </div>
            <div class="">
                {{wtf.quick_form(signupform)}}
                <p class="help-block text-center" > <small><strong>Already have an account?
                    <a href="{{url_for('auth.login')}}">Log in</a></p>
                </strong></small> 
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
    
   
</div>
{% endblock %}