{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block content%}
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <a href="{{url_for('main.index')}}">Home</a>
        </div>
        <div class="col-md-8">
            form
            <h3>New Blog</h3>
            {{wtf.quick_form(blogform)}}
        </div>
        <div class="col-md-2">
            <a href="{{url_for('main.profile', user_id=current_user.id)}}">profile</a>
        </div>
    </div>
  
<div>
    
</div>
{% endblock %}