{{extends "base.html"}}
{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
        <div class="col-md-8">
            <h2>
                Social Media Center
                
            </h2>
            <li>
                <ul>Whatsapp</ul>
                <ul></ul>
                <ul></ul>
                <ul></ul>
                <ul></ul>
                <ul></ul>
            </li>
        </div>
        <div class="col-md-2"></div>
</section>

{% endblock %}